._1oweEwxuizpZY8B {
  padding-top: 16px;
  transition: all 1s linear;

  .childrenInput {
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--bg-second);
    box-shadow: none !important;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
  }

  .children_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .ant_btn_sm {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
    border-radius: 2px;
  }

  .ant_btn_diable {
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--comment-editor-disable-bg)
  }

  .ant_btn_primary {
    color: #fff;
    background: #f40a12;
    border-color: #f40a12;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);

  }
}

.SO1DW6R4gpGKoWYBL5g62 {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  height: 240px;
  overflow: auto;
  font-size: 22px;
  cursor: pointer;

  li {
    margin: 0 3px;
  }
}

.SO1DW6R4gpGKoWYBL5g62::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #f5f5f5;
}

.SO1DW6R4gpGKoWYBL5g62::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.blockBox {
  display: block;
}
