.Carousel {
  .carousel {
    position: relative;

    img {
      width: 100%;
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.35);
      z-index: 1;
      font-size: 1rem;

      h2 {
        color: #fff;
      }
    }
  }
}
