<template>
  <div class="goods">
    <div class="img_box">
      <img :src="data.thumb" alt="" mode="widthFix" />
      <p>
        <span class="shop_name">
          <span><u-icon name="map-fill"></u-icon></span>
          {{ data.minOne.shopName }}
        </span>
        <span class="dis">
          <span v-if="data.minOne.distance < 1000">
            |&nbsp; {{ Math.round(data.minOne.distance) }}m
          </span>
          <span v-if="data.minOne.distance >= 1000">
            |&nbsp; {{ (data.minOne.distance / 1000).toFixed(2) }}km
          </span>
        </span>
      </p>
    </div>
    <div class="title_box">
      <div class="title_boxs">{{ data.title }}</div>
      <div class="price_box">
        <div class="left_price">
          <span>￥{{ data.price }}</span>
          <span>￥{{ data.oldprice }}</span>
        </div>
        <div class="price_right">已售{{ data.total_saled }}</div>
      </div>
      <div class="sort_list_box">
        <span>{{ data.sort_list[1] }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.goods {
  position: relative;
  width: 100%;
  border-radius: 20rpx;
  overflow: hidden;
  margin-bottom: 15rpx;
  background: #fff;
  .img_box {
    position: relative;
    img {
      width: 100%;
    }
    & > p {
      width: 100%;
      height: 40rpx;
      padding: 0 10rpx;
      box-sizing: border-box;
      line-height: 40rpx;
      position: absolute;
      display: flex;
      justify-content: space-between;
      left: 0;
      bottom: 0;
      font-size: 22rpx;
      color: #fff;
      background: rgba($color: #000000, $alpha: 0.4);
    }
  }
  .title_box {
    width: 100%;
    padding: 20rpx;
    box-sizing: border-box;
    background: #fff;
    .title_boxs {
      width: 100%;
      font-size: 28rpx;
      height: 70rpx;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .price_box {
      width: 100%;
      margin-top: 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .left_price {
        & > span:first-child {
          font-size: 35rpx;
          color: red;
        }
        & > span:last-child {
          font-size: 20rpx;
          color: #ccc;
          text-decoration: line-through;
        }
      }
      .price_right {
        font-size: 20rpx;
        color: #ccc;
      }
    }
    .sort_list_box {
      margin-top: 10rpx;
      span {
        padding: 10rpx;
        font-size: 20rpx;
        background: #f2f6fa;
        border-radius: 10rpx;
        color: #9ea7c2;
      }
    }
  }
}
.shop_name {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 5rpx;
}
.dis {
  width: 30%;
  text-align: right;
}
</style>