<template>
  <div class="shop">
    <div class="img_box">
      <img :src="data.logo" alt="" mode="widthFix" />
    </div>
    <div class="title_box">
      <p>{{ data.shopName }}</p>
      <div class="star_box">
        <div class="star_left">
          <span
            v-for="(item, index) in data.dalianInfo.foodSafetyLevel / 10"
            :key="index"
          >
            <u-icon name="star-fill"></u-icon>
          </span>
        </div>
        <div class="star_right">￥{{ data.avgPrice }}/人</div>
      </div>
      <div class="type_box">
        <span>{{ data.styleCooking }}</span>
        <span class="dis"> {{ parseInt(data.distance * 1000) }}m </span>
      </div>
      <div class="orderGoods_box">
        <div
          v-if="data.judge.orderGoods === true"
          class="judge_orderGoods_true"
        >
          <span>排队</span>餐厅当前暂停取号
        </div>
        <div
          v-if="data.judge.orderGoods === false"
          class="judge_orderGoods_false"
        >
          <span>预订</span>餐厅支持在线预订
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.shop {
  position: relative;
  width: 100%;
  border-radius: 20rpx;
  overflow: hidden;
  margin-bottom: 10rpx;
  background: #fff;
  .img_box {
    img {
      width: 100%;
    }
  }
  .title_box {
    width: 100%;
    padding: 20rpx;
    box-sizing: border-box;
    background: #fff;
    font-size: 26rpx;
    .star_box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20rpx;
      .star_left {
        span {
          padding: 0 3rpx;
          box-sizing: border-box;
          border-radius: 8rpx;
          background: red;
          margin-right: 5rpx;
          u-icon {
            color: #fff;
            font-size: 25rpx;
          }
        }
      }
    }
    .type_box {
      font-size: 25rpx;
      color: #666;
      margin-top: 15rpx;
      .dis {
        margin-left: 25rpx;
      }
    }
    .orderGoods_box {
      width: 100%;
      margin-top: 15rpx;
      margin-bottom: 5rpx;
      .judge_orderGoods_true {
        font-size: 24rpx;
        color: #878787;
        span {
          padding: 10rpx;
          box-sizing: border-box;
          background: #fce3e3;
          font-size: 20rpx;
          border-radius: 10rpx;
          color: #ee6563;
          margin-right: 10rpx;
        }
      }
      .judge_orderGoods_false {
        font-size: 24rpx;
        color: #878787;
        span {
          padding: 10rpx;
          box-sizing: border-box;
          background: #e3f4fe;
          font-size: 20rpx;
          border-radius: 10rpx;
          color: #52bbf7;
          margin-right: 10rpx;
        }
      }
    }
  }
}
</style>