<template>
  <div class="navList">
    <ul>
      <li v-for="item in widgets" :key="item.img">
        <img :src="item.img" alt="" mode="widthFix" />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["widgets"],
};
</script>

<style>
</style>