.footer {
  width: 100%;
  height: 138px;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  color: #c1bdbd;
  background: var(--bg-footer);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    &:nth-child(1) {
      margin: 0.6rem 0;
      svg {
        margin: 0 0.5rem;
        cursor: pointer;
        &:hover {
          color: var(--main-text-color);
        }
      }
    }
  }
}
