<template>
  <div>
    <swiper indicator-dots="true">
      <swiper-item v-for="item in banners" :key="item.id">
        <img :src="`http://47.102.145.189:8009${item.imgSrc}`" alt="" />
      </swiper-item>
    </swiper>
	<button @click="navigateTo">新房</button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      banners: (state) => state.home.banners,
    }),
  },
  methods: {
    ...mapActions({
      getBanner: "home/getBanner",
    }),
    navigateTo() {
      wx.navigateTo({ url: "/pages/newHouse/index" });
    },
  },
  created() {
    this.getBanner();
  },
};
</script>

<style lang="scss">
img{
	width: 100%
}
</style>