<template>
  <div class="citySearch">
    <div class="searchInp">
      <u-search
        placeholder="请输入城市名称"
        v-model="value"
        border-color="#ccc"
        action-text="取消"
        @input="changeInput"
        @custom="searchBank"
      ></u-search>
    </div>
    <ul>
      <li v-for="item in searchCity" :key="item.id">{{ item.name }}</li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      value: "",
      searchCity: [],
    };
  },
  computed: {
    ...mapState({
      searchCitys: (state) => state.citys.searchCitys,
    }),
  },
  methods: {
    ...mapActions({
      getCityList: "citys/getCityList",
    }),
    searchBank() {
      this.value = "";
    },
    changeInput() {
      if (this.value !== "") {
        this.searchCity = this.searchCitys.filter((item) =>
          item.name.includes(this.value)
        );
      } else {
        this.searchCity = [];
      }
    },
  },
  created() {
    this.getCityList(true);
  },
};
</script>

<style lang="scss" scoped>
.searchInp {
  padding: 20rpx;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
}
li {
  padding: 30rpx 20rpx;
  border-bottom: 1px solid #e2e2e2;
}
</style>