<template>
  <div class="citys">
    <div class="citysHeader" @click="goCitySearch">
      <u-icon name="search" color="#ccc" size="28"></u-icon>
      <span>输入城市名称</span>
    </div>

    <div class="title">定位城市</div>
    <div class="title">热门城市</div>

    <div class="hotCitys">
      <span v-for="item in citysList.hot" :key="item.id">
        {{ item.name }}
      </span>
    </div>

    <u-index-list :scrollTop="scrollTop">
      <div v-for="(item, index) in Object.keys(citysList.list)" :key="index">
        <u-index-anchor :index="item" />
        <div
          class="list-cell"
          v-for="item2 in citysList.list[item]"
          :key="item2.id"
        >
          {{ item2.name }}
        </div>
      </div>
    </u-index-list>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      scrollTop: 0,
    };
  },
  computed: {
    ...mapState({
      citysList: (state) => state.citys.citysList,
    }),
  },
  methods: {
    ...mapActions({
      getCityList: "citys/getCityList",
    }),

    goCitySearch() {
      wx.navigateTo({ url: "/pages/citys/citySearch" });
    },

    onPageScroll(e) {
      this.scrollTop = e.scrollTop;
    },
  },
  created() {
    this.getCityList(false);
  },
};
</script>

<style lang="scss" scoped>
.title {
  color: #ccc;
  font-size: 13px;
  padding: 0 40rpx;
  margin-top: 20rpx;
}
.list-cell {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 24rpx;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
.hotCitys {
  width: 100%;
  padding: 15rpx;
  display: flex;
  flex-wrap: wrap;
  span {
    padding: 20rpx 70rpx;
    border-radius: 3px;
    margin: 10rpx 15rpx;
    background: #f3f3f3;
  }
}
.citys {
  width: 100%;
  overflow: hidden;
  .citysHeader {
    color: #ccc;
    margin: 20rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70rpx;
    border-radius: 30px;
    background: #f0f0f0;
    span {
      margin-left: 20rpx;
    }
  }
}
</style>