#_index {
  width: 100%;
  padding: 1rem;
  display: flex;
  .content {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    .contentLeft {
      flex-grow: 1;
      height: auto;
      .banner {
        width: 100%;
        .logo {
          margin: 10px auto;
          padding: 16px 0;
          margin-bottom: 1rem;
          background: var(--bg-second);
          text-align: center;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
          p:first-of-type span {
            color: var(--primary-color);
            font-size: 1.5rem;
          }
          p:last-of-type span {
            color: var(--primary-color);
            font-size: 1.1rem;
          }
          p:first-of-type {
            margin-top: 0.5rem;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
      .list {
        background-color: var(--bg-second);
      }
    }
    .contentRight {
      width: 320px;
      height: 80px;
      margin-left: 15px;
      background-color: var(--bg-second);
      flex-shrink: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .contentRight {
    display: none;
  }
}
