#advanced_search {
  padding: 24px 12px;
  background: #fff !important;
}

// .ant-col-8 {
//   display: block;
//   flex: 0 0 25%;
//   min-width: 19%;
//   max-width: 25%;
// }

.table {
  margin-top: 16px;
  padding: 24px 12px;
  background: #fff !important;

  &>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.ant-spin-nested-loading {
  width: 100%;
}
