.textInputBox {
  width: 100%;
  background: var(--bg-second);
  padding: 15px;
  box-sizing: border-box;

  textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--bg-second);
    box-shadow: none !important;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
  }

  .btnBox {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    button {
      padding: 3px 10px;
      color: var(--main-text-color);
      background: var(--comment-editor-disable-bg);
      border: 1px solid var(--comment-editor-border-color);
    }

    .changeBtn {
      background: red;
      color: #fff;
      border: 1px solid transparent;
    }
  }
}

.msgBox {
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;

  .header {
    display: flex;
    align-items: center;

    .ant_avatar {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: #000;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      overflow: hidden;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      vertical-align: middle;
      background: #ccc;
      width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 50%;

      .ant_avatar_string {
        position: absolute;
        left: 50%;
        transform-origin: 0 center;
      }
    }

    .nameBox {
      color: var(--main-text-color);
      padding: 0 8px;

      strong {
        font-weight: bolder;
      }
    }
  }

  .main {
    font-size: 0.9rem;
    color: var(--main-text-color);

    p {
      list-style: none;
      margin: 0;
    }
  }

  .footer {
    color: var(--disable-text-color);

    time {
      margin-left: 8px;
    }

    .backBox {
      cursor: pointer;
      margin-left: 8px;

      .action {
        margin-right: 4px;
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    .backBoxTwo {
      user-select: none;
    }

    .backBox:hover {
      color: var(--primary-color);
    }

    .smallBox {
      padding: 16px 0;

      .children_footer {
        align-items: center;

        .antAavatar {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: #000;
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: 'tnum';
          position: relative;
          display: inline-block;
          overflow: hidden;
          color: #fff;
          white-space: nowrap;
          text-align: center;
          vertical-align: middle;
          background: #ccc;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 50%;
        }

        .smallnameBox {
          color: var(--main-text-color);
          padding: 0 8px;
        }
      }

      .children_main {
        font-size: 0.9rem;
        color: var(--main-text-color);
      }

      .children_footer {
        color: var(--disable-text-color);
      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
}

._3G7_JYLS4EIxTgILiJm_A5 {
  background-color: var(--bg-second);
}

._3k5_guVzUUtXzu2skrNnws {
  margin-top: 16px;
  color: var(--second-text-color);
  text-align: center;
}

.SO1DW6R4gpGKoWYBL5g62 {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  height: 240px;
  overflow: auto;
  font-size: 22px;
  cursor: pointer;

  li {
    margin: 0 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ceb4b4;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: none;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }
}
