.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

// .category {
//   display: flex;
//   justify-content: space-between;
// }

.category ul li {

  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin: 0 7px 7px 0;
  color: #8e8787;
  line-height: 1.5em;
  transition: all .2s ease-in-out;
  cursor: pointer;

}

.category .topCard {
  display: block;
  flex: 0 0 37.5%;
  max-width: 37.5%;
  padding: 0 8px;
}

.category .bomCard {
  display: block;
  flex: 0 0 62.5%;
  padding: 0 8px;
  max-width: 62.5%;
  max-height: 270px;
}
