.KnowledgeDetail {
  width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;

  .KnowledgeDetailHeader {
    width: 100%;
    margin: .2rem 0;
    color: var(--second-text-color) !important;
   
    span {
      margin: 0 .5rem;
      color: var(--second-text-color) !important;

      &:nth-child(1) {
        cursor: pointer;
      }
    }
  }

  .KnowledgeDetailContent {
    display: flex;
    justify-content: space-between;

    .KnowledgeDetailContentLeft {
      flex: 1;
      margin: 0.5rem 1rem 0 1rem;

      .header {
        margin-bottom: 0.8rem;

        span {
          font-size: 16px;
          font-weight: 800;
          margin: 0 .5rem;
          color: var(--main-text-color);
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-second);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding-bottom: 1rem;

        h2 {
          font-size: 18px;
          font-weight: 800;
          margin: .4rem auto;
          color: var(--main-text-color);
        }

        p {
          margin: 0px;
          margin: 0.2rem;
          color: var(--second-text-color);
          overflow: hidden;
          text-align: center;

          button {
            border: none;
            outline: none;
            height: 32px;
            margin: 0.5rem;
            padding: 4px 15px;
            font-size: 14px;
            border-radius: 2px;
            color: #fff;
            background: #f40a12;
            cursor: pointer;
          }
        }

        .title {
          display: flex;
          justify-content: space-between;
          width: 96%;
          margin: 0.4rem auto;
          cursor: pointer;
          height: 45px;
          line-height: 45px;
          color: var(--main-text-color);
          border-radius: var(--border-radius);
          opacity: 1;

          span {
            margin: 0 1rem;
          }

          :nth-child(2) {
            display: none;
          }
        }

        .title:hover {
          background-color: var(--bg);
          color: var(--primary-color);
          background: rgba(0, 0, 0, .2);

          :nth-child(2) {
            display: block;
          }
        }

        .detailPic {
          width: 96%;
          margin: 2rem 2% 0.5rem 2%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .KnowledgeDetailContentRight {
      width: 320px;
      margin: 0.5rem 1rem 0 0px;

      .sticky {
        position: sticky;
        top: 1rem;
        margin-bottom: 1rem;
      }

      .right {
        background-color: var(--bg-second);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        color: var(--main-text-color);

      }

      .content {
        display: flex;
        flex-direction: column;

        .XifRPckEIhR {
          width: 90%;
          height: 130px;
          margin: 1.2rem auto;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          cursor: pointer;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            padding: 0;
            margin: 0;
          }

          &:hover {
            .knowledge_header_title {
              color: var(--primary-color);
            }
          }

          .knowledge_header {
            margin-bottom: .5rem;

            .knowledge_header_title {
              font-size: 16px;
              font-weight: 800;
              margin-right: 1rem;

            }

            span {
              &:nth-child(2) {
                color: #8590a6;
                font-size: 14px;
              }
            }
          }

          .knowledge_main {
            display: flex;
            align-items: center;

            .knowledge_pic {
              width: 60%;
              height: 6.5rem;
              overflow: hidden;
              border-radius: 3px;
              margin-right: 10px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .knowledge_content {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;

              span {
                position: relative;
                color: #8590a6;

                &:nth-child(1) {
                  margin: 0 1rem;
                }

                &:nth-child(2) {
                  margin-left: .5rem;

                }

                i {
                  position: absolute;
                  left: -15px;
                  top: 0px;

                }
              }

            }
          }
        }

        .hr_border {
          margin: 0 20px;

          .hr {
            background-color: var(--border-color);
            height: 1px;
            width: 100%;
            margin: 0 auto;
          }
        }
      }

      .header {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0.8rem;
        color: var(--main-text-color);
      }
    }
  }
}

.KnowledgeDetailBox {
  position: relative;

  .KnowledgeDetailBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(var(--rgb-bg-second), 0), rgba(var(--rgb-bg-second), 1));
    background-position-x: 50%;
    background-position-y: 17%;
    opacity: .2;
    filter: blur(50px);
  }
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
  .KnowledgeDetailContent {
    width: 970px;

    .KnowledgeDetailContentLeft {
      width: 635px;

      .left {
        width: 635px;

      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .KnowledgeDetailContent {
    width: 770px;

    .KnowledgeDetailContentLeft {
      width: 432px;

      .left {
        width: 432px;
      }
    }
  }

}


@media screen and (max-width: 768px) {
  .KnowledgeDetail {
    width: 100%;

    .KnowledgeDetailContent {
      flex-direction: column;

      .left {
        margin-left: 1rem;

        .XifRPckEIhR {
          height: 100%;
          width: 100%;
          padding: 1rem;

          .knowledge_header {
            margin: .5rem 0;
          }

          .knowledge_main {
            display: flex;
            flex-direction: column;

            p {
              &:nth-child(2) {
                margin: .5rem 0;
              }
            }

            .knowledge_pic {
              width: 100%;
              height: 100%;
              margin-bottom: .5rem;

              img {
                width: 100%;
              }
            }

          }
        }
      }
    }


    .KnowledgeDetailContentRight {
      width: 100%;
      margin-left: 1rem;
      .right {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
