#_index {
  width: 100%;
  padding: 1rem;
  display: flex;
  .content {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    .contentLeft {
      flex-grow: 1;
      height: auto;
      .banner {
        width: 100%;
        .logo {
          margin: 10px auto;
          padding: 16px 0;
          margin-bottom: 1rem;
          background: var(--bg-second);
          text-align: center;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
          p:first-of-type span {
            color: var(--primary-color);
            font-size: 1.5rem;
          }
          p:last-of-type span {
            color: var(--primary-color);
            font-size: 1.1rem;
          }
          p:first-of-type {
            margin-top: 0.5rem;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
      .tag {
        border-radius: var(--border-radius);
        margin-bottom: 1.3rem;
        background-color: var(--bg-second);
        box-shadow: var(--box-shadow);
        line-height: 1.29;
        & > div {
          padding: 1rem;
          border-bottom: 1px solid var(--border-color);
          color: var(--main-text-color);
          font-weight: 700;
        }
        ul {
          padding: 1rem;
          li {
            display: inline-block;
            padding: 2px 7px;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            margin: 0 7px 7px 0;
            color: var(--second-text-color);
            line-height: 1.5em;
            transition: all 0.2s ease-in-out;
            a {
              color: #000;
            }
          }
        }
      }
      .list {
        background-color: var(--bg-second);
      }
    }
    .contentRight {
      width: 320px;
      height: 80px;
      margin-left: 15px;
      background-color: var(--bg-second);
      flex-shrink: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .contentRight {
    display: none;
  }
}
