.viewBox {
  width: 100%;

}

.a {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  color: inherit;
}

.ulsBox {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    color: #000;

    .badge {
      line-height: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: #000;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      line-height: 1;

      .antdGold {
        background: #52c41a;
        position: relative;
        top: -1px;
        display: inline-block;
        width: 6px;
        height: 6px;
        vertical-align: middle;
        border-radius: 50%;
      }

      .antdGreen {
        background: #faad14;
        position: relative;
        top: -1px;
        display: inline-block;
        width: 6px;
        height: 6px;
        vertical-align: middle;
        border-radius: 50%;
      }
    }

    .rightBox {
      span {
        margin: 0 8px;
        color: rgba(0, 0, 0, .06);
      }
    }
  }
}
