.classify {
  width: 320px;
  height: 305px;
  background: var(--bg-second);
  margin-top: 1rem;
  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }
  ul {
    padding: 1rem;
    li {
      line-height: 37px;
      display: flex;
      justify-content: space-between;
      color: var(--second-text-color);
      &:hover {
        color: #ff0064;
      }
    }
  }
}
