.categoryNav {
  height: 57px;
  position: relative;
  line-height: 57px;
  span {
    padding: 0 12px;
    &.active {
      color: var(--primary-color);
    }
    a{
      color:#000;
    }
  }
}
.categoryNav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
