.ant-col-8{
    display: flex;
}
.ant-form-item{
    margin-right: 16px;
}
.ant-form-item-label{
    width: 68px;
}
.ant-form-item-control{
    width: 300px;
}

.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker{
    width: 180px;
}
