.container{
    width: 100%;
    height: 430px;
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 34px;
    color: #fff;
    input{
        border: none;
        border-bottom: 1px solid #fff;
        text-align: center;
        background: transparent;
        outline: none;
    }

}
.content{
    width: 100%;
    height: 100%;
    div{
        height: 100%;
        overflow-y: scroll;
    }
    input {
        position: fixed;
        height: 60px;
        bottom: 0;
        right: 0;
        width: 85%;
        border: 10px  solid #000;
        outline: none;
        position: 6px;
        font-size: 14px;
    }
}
.tip{
 color: gray;
 font-size: 70%;
 margin: 5px;
 text-align: center;
}
.message{
    span{
        padding-right: 15px;
    }
}