<template>
  <div class="container">
    <!-- 头部 -->
    <div class="top">
      <div class="top_left">
        <open-data type="userAvatarUrl"></open-data>
      </div>
      <div class="top_middle">
        <open-data class="user" type="userNickName" lang="zh_CN"></open-data>
        <div>
          <span>用户ID:</span><span>{{ userId.uid && userId.uid }}</span>
        </div>
      </div>
      <div class="top_right">
        加入推广
      </div>
    </div>
    <!-- 身体部分_优惠卷   -->
    <div class="middle">
      <div class="middle_top">
        <ul>
          <li class="li_item" @click="handleToCoupon">
            <img src="../../static/one.png" alt="" mode="widthFix" />
            <span>优惠卷</span>
            <span class="red" v-if="couponList.codeList"></span> 
          </li>
          <li class="collect">
            <img src="../../static/two.png" alt="" mode="widthFix" />
            <span>收藏</span>
          </li>
        </ul>
      </div>
      <div class="middle_bottom">
        <div class="middle_bottom_top">
          <ul>
            <li class="ul_li_one">订单</li>
            <li class="ul_li_two">全部订单&nbsp;&gt;</li>
          </ul>
        </div>
        <div class="middle_bottom_bottom">
          <ul class="ul_list">
            <li>
              <img src="../../static/three.png" alt="" mode="widthFix" /><span
                >代付款</span
              >
            </li>
            <li>
              <img src="../../static/four.png" alt="" mode="widthFix" /><span
                >代发货</span
              >
            </li>
            <li>
              <img src="../../static/six.png" alt="" mode="widthFix" /><span
                >可使用</span
              >
            </li>
            <li>
              <img src="../../static/seven.png" alt="" mode="widthFix" /><span
                >待评价</span
              >
            </li>
            <li>
              <img src="../../static/eight.png" alt="" mode="widthFix" /><span
                >退款/售后</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 身体部分_领劵中心 -->
    <div class="middle_bottom_two">
      <div>
        <img src="../../static/nine.png" alt="" mode="widthFix" />
        <div>
          <p>领劵中心</p>
          <p>免费领取优惠卷</p>
        </div>
      </div>
      <div>
        <img src="../../static/five.png" alt="" mode="widthFix" />
        <div>
          <p>美味心选</p>
          <p>美味旗下官方商城</p>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="bottom">
      <ul>
        <li><span><u-icon name="zhuanfa"  class="my_icon"  color="#ccc" size="36"></u-icon>意见反馈</span><span>&gt;</span></li>
        <li><span><u-icon name="setting"  class="my_icon" color="#ccc" size="36"></u-icon>设置</span><span>&gt;</span></li>
        <li @click="flag = true">
          <span><u-icon name="phone"  class="my_icon" color="#ccc" size="36"></u-icon>联系我们&nbsp;<b>400-8166-477</b></span
          ><span>&gt;</span>
        </li>
      </ul>
    </div>
    <div class="dialog"  @click="flag = false" v-if="flag">
            <div class="dialog_content">
                <p @click="(e)=>e.stopPropagation()">
               <text class="phone" :bindtap="freeTell">{{iphone}}</text>
            </p>
            <p class="dialog_item">取消</p>
     </div>
    </div>
  </div>
</template>

<script>

import { mapActions, mapState } from "vuex";
export default {
  // components: { ComponentName },

  computed: {
    ...mapState({
      userId: (state) => state.user.userId,
      couponList: (state) => state.user.couponList,
    }),
  },
  data() {
    return {
        flag:false,
        iphone:'400-8166-477',
        ind:0
    };
  },

  mounted() {
     
  },

  methods: {
    ...mapActions({
      getUserId: "user/getUserId",
        getCoupon: "user/getCoupon",
    }),
    handleToCoupon() {
         wx.navigateTo({url:'/pages/couponDetail/index'});
    },
     freeTell(){

    wx.makePhoneCall({
      phoneNumber: this.iphone,
    })

  }
  },
  created() {
    this.getUserId();
    this.getCoupon(this.ind);
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.dialog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    .dialog_content{
        width: 100%;
        height: 200rpx;
        position: absolute;
        bottom: 0;
        left: 0;
        p{
         background: #fff;
         height: 90rpx;
         line-height: 90rpx;
         text-align: center;
         font-size: 34rpx;
        }
    }
}
.dialog_item{
  margin-top: 10rpx;
}
.top {
  margin-top: 10rpx;
  width: 92%;
  margin-left: 4%;
  background: #fff;
  height: 110rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .top_left {
    width: 105rpx;
    height: 105rpx;
    border-radius: 50%;
    overflow: hidden;
  }
  .top_middle {
    width: 45%;
    .user {
      font-weight: 500;
      margin-right: 20rpx;
    }
    div {
      color: #999;
      font-size: 30rpx;
    }
  }
  .top_right {
    width: 212rpx;
    height: 66rpx;
    border-radius: 50rpx;
    font-size: 34rpx;
    color: #fff;
    background: #e84540;
    text-align: center;
    line-height: 66rpx;
  }
}
.middle {
  margin-top: 20rpx;
  width: 92%;
  height: 368rpx;
  border: 1px solid #ececec;
  margin-left: 4%;
  border-radius: 10rpx;
  background: #fff;
}
.middle_top {
  margin-top: 20rpx;
  width: 90%;
  margin-left: 5%;
  height: 106rpx;
  border-bottom: 1px solid #ececec;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60rpx;
        margin-right: 40rpx;
      }
      span {
        font-size: 30rpx;
      }
    }
    .collect {
      border-left: 1px solid #ececec;
    }
  }
}
.middle_bottom {
  width: 100%;
  .middle_bottom_top {
    width: 88%;
    margin-left: 6%;
    ul {
      margin-top: 30rpx;
      display: flex;
      justify-content: space-between;
    }
  }
}
.ul_li_one {
  font-size: 32rpx;
}
.ul_li_two {
  font-size: 32rpx;
  color: #999;
}
.middle_bottom_bottom {
  width: 100%;
  margin-top: 30rpx;
}
.ul_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      width: 70rpx;
      margin-bottom: 20rpx;
    }
    span {
      font-size: 28rpx;
    }
  }
}
.middle_bottom_two {
  margin-top: 38rpx;
  width: 92%;
  margin-left: 4%;
  height: 160rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 48%;
    height: 156rpx;
    border-radius: 20rpx;
    background: #fff;
    border: 1px solid #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100rpx;
      border-radius: 50%;
      overflow: hidden;
    }
    div {
      border: none;
      display: block;
      p {
        &:nth-child(1) {
          margin-top: 30rpx;
          font-size: 32rpx;
          font-weight: 500;
        }
        &:nth-child(2) {
          margin-top: 20rpx;
          width: 200rpx;
          font-size: 22rpx;
          color: #c2c2c2;
        }
      }
    }
  }
}
.bottom {
  margin-top: 30rpx;
  width: 100%;
  height: fit-content;
  ul {
    width: 92%;
    margin-left: 4%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      width: 100%;
      height: 70rpx;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 34rpx;
        b {
          display: inline-block;
          font-size: 24rpx;
          color: #9a9a9a;
          margin-left: 10rpx;
        }
      }
    }
  }
}
.li_item{
    position: relative;
}
.red{
    width: 30rpx;
    height: 30rpx;
    overflow: hidden;
    border-radius: 50%;
    background: #ff6e6b;
    position: absolute;
    top: -10rpx;
    right: 30rpx;
}
.my_icon{
    margin-right: 16rpx;
}
</style>
