.like {
  position: fixed;
  top: 20%;
  left:4%;
  z-index: 99;

  div {
    margin: 20px 10px;

    &>span {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 32px;
      height: 32px;
      font-size: 22px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg-second);
      color: var(--disable-text-color);
    }

    &>span:hover {
      color: var(--primary-color);
    }
  }
  .erw{
    display: flex;
  }
}

/*小屏幕*/
@media screen and (max-width: 768px) {
  .like {
    width: 100%;
    background: #fff;
    position: fixed;
    top: calc(100% - 52px);
    left: 0;
    display: flex;
    justify-content: space-around;

    div {
      margin: 10px 10px;
      flex-grow: 1;
      text-align: center;
    }
  }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .like {
    width: 100%;
    background: #fff;
    position: fixed;
    top: calc(100% - 52px);
    left: 0;
    display: flex;
    justify-content: space-around;

    div {
      margin: 10px 10px;
      flex-grow: 1;
      text-align: center;
    }
  }
}

h3 {
  min-width: 225px;
  padding: 12px 0px;
  border: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
