header {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 64px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border-color);
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--bg-body);
  overflow-x: hidden;
}

.img_box {
  width: 100px;
  height: 64px;
  margin-right: 4rem;
  flex-shrink: 0;
  color: var(--main-text-color);
  line-height: 64px;
  text-align: left;

  img {
    width: 100%;
    height: 36px;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid var(--border-color);

  nav {
    height: auto;
    position: static;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 15px;
    margin-left: 0;
    background-color: var(--bg);
    overflow: hidden;
    transition: max-height 0.25s;
    z-index: 100;

    &._nav {
      position: absolute;
      display: block;

      .title_list {
        li {
          padding: 0 0px;
          height: 64px;
          height: 48px;
          float: none;
          display: flex;
          justify-content: center;
          align-items: center;

          .active {
            color: var(--primary-color);
          }
        }
      }
    }

    .title_list {
      position: relative;
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      color: var(--main-text-color);
      font-size: 16px;
      line-height: 64px;
      margin-bottom: 0;

      li:first-of-type {
        padding-left: 0;
      }

      li.active {
        color: var(--primary-color);
      }

      li {
        display: inline-flex;
        padding: 0 1rem;
        vertical-align: middle;
        line-height: 64px;
      }

      li:last-child {
        padding: 0px;
      }

      li:not(.right_margin):hover {
        color: var(--primary-color);
      }

      li._38OmGXMfjYo_xu-5O1rJEK {
        font-size: 24px;
      }

      li:first-of-type {
        padding-left: 0;
      }

      li:nth-child(5) {
        flex-grow: 1;
      }

      li a {
        width: 100%;
        color: inherit;
      }

      ._38OmGXMfjYo_xu-5O1rJEK {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        float: right;
      }

      ._3M_Iyty-_u6Mq1VeSk14Rq ._38OmGXMfjYo_xu-5O1rJEK {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        float: right;
      }

      ._38OmGXMfjYo_xu-5O1rJEK {
        font-size: 24px;
      }

      ._2BHtRLIf7EUPHvdL0oIKeR {
        position: relative;
        height: 24px;
        width: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3FbZOtsOBAPa2UFFqIaC_z {
        position: relative;
        z-index: 3;
        background: var(--sun-color);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid var(--bg);
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_ {
        width: 2px;
        background: var(--sun-color);
        display: block;
        height: 125%;
        position: absolute;
        z-index: 2;
        transition: all 0.4s, height 0.3s ease-in-out;
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:first-child {
        transform: rotate(calc(1 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(2) {
        transform: rotate(calc(2 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
        transform: rotate(calc(3 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
        transform: rotate(calc(4 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
        transform: rotate(calc(5 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
        transform: rotate(calc(6 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
        transform: rotate(calc(7 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
        transform: rotate(calc(8 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(9) {
        transform: rotate(calc(9 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(10) {
        transform: rotate(calc(10 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(11) {
        transform: rotate(calc(11 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(12) {
        transform: rotate(calc(12 * calc(1turn / 12)));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:first-child {
        transform: rotate(calc(calc(1 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(2) {
        transform: rotate(calc(calc(2 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
        transform: rotate(calc(calc(3 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
        transform: rotate(calc(calc(4 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
        transform: rotate(calc(calc(5 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
        transform: rotate(calc(calc(6 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
        transform: rotate(calc(calc(7 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
        transform: rotate(calc(calc(8 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(9) {
        transform: rotate(calc(calc(9 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(10) {
        transform: rotate(calc(calc(10 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(11) {
        transform: rotate(calc(calc(11 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(12) {
        transform: rotate(calc(calc(12 * calc(1turn / 12)) - 20deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR ._2DxxB4r6HYBEDcLqnvTKMg {
        position: absolute;
        border-radius: 50%;
        top: 0;
        right: 0;
        transform: scale(0) translate(-100%, 35%);
        z-index: 9;
        transition: transform 0.4s;
        transform-origin: right;
        background: var(--sun-color);
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3FbZOtsOBAPa2UFFqIaC_z {
        border-color: var(--sun-color);
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._2DxxB4r6HYBEDcLqnvTKMg {
        height: 28px;
        width: 28px;
        transform: scale(1) translate(35%, -35%);
        background: var(--bg);
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN:hover ._2DxxB4r6HYBEDcLqnvTKMg {
        transform: scale(1) translate(20%, -40%);
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_ {
        height: 0;
        transition: 0.4s, transform 0.4s, height 0.2s 0.1s;
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:first-child {
        transform: rotate(calc(calc(1 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(2) {
        transform: rotate(calc(calc(2 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
        transform: rotate(calc(calc(3 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
        transform: rotate(calc(calc(4 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
        transform: rotate(calc(calc(5 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
        transform: rotate(calc(calc(6 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
        transform: rotate(calc(calc(7 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
        transform: rotate(calc(calc(8 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(9) {
        transform: rotate(calc(calc(9 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(10) {
        transform: rotate(calc(calc(10 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(11) {
        transform: rotate(calc(calc(11 * calc(1turn / 12)) - 45deg));
      }

      ._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(12) {
        transform: rotate(calc(calc(12 * calc(1turn / 12)) - 45deg));
      }
    }
  }

  .btn {
    width: 25px;
    height: 22px;
    position: absolute;
    right: 15px;
    display: none;
  }

  .btn .wire {
    width: 25px;
    height: 4px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    opacity: 1;
    transition: all 0.25s ease-in-out 0s;
  }

  .btn .wire:nth-of-type(2) {
    margin: 5px 0;
  }

  .btn.active .wire:first-of-type {
    transform: translateY(9px) rotate(45deg);
  }

  .btn.active .wire:nth-of-type(2) {
    opacity: 0;
  }

  .btn.active .wire:last-of-type {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container nav {
    display: none;
  }

  .container nav .title_list {
    flex-direction: column;
  }

  .container .btn {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
