.List {
  margin-top: 16px;
 
  .list {
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .box {
    max-height: 50vh;
    padding: 0 10px;
    overflow-y: auto;
   
    .Detail_Right_Ul {
      li.active {
        background: var(--border-color);
        color: var(--primary-color);
        span {
          &:nth-child(1) {
            background: var(--primary-color);
          }
        }
      }

      li {
        cursor: pointer;
        opacity: 1;
        height: 32px;
        margin: 4px 0 4px 12px;
        line-height: 27px;
        --dot-left: 0px;
        --dot-width: 6px;
        color: var(--main-text-color);
        &>span:nth-child(1) {
          margin-left: 5px;
          background: var(--main-text-color);
        }
        

        &:hover {
          color: var(--primary-color);

          &>span:nth-child(1) {
            background: var(--primary-color);
          }
        }
      }
    }
  }
}
.on{
  ::-webkit-scrollbar {
    display: none; 
  }
}

.two {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
}

.three {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 6px;
}

