<style lang="scss">
	/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
	@import "uview-ui/index.scss";
</style>
<script>

export default {
  onLaunch: function () {
    console.log("App Launch");
  },
  onShow: function () {
    console.log("App Show");
  },
  onHide: function () {
    console.log("App Hide");
  },
};
</script>

<style>

*{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
html,
body,
page {
  width: 100%;
  height: 100%;
}

/*每个页面公共css */
</style>