<template>
<widgets :widgets="widgets"/>
</template>

<script>
import { getMajorTabs } from "@/services";
import { ref, reactive, computed, onMounted,toRefs } from "@vue/composition-api";
import Widgets from '../../components/widgets.vue';
export default {
  // created(){
  //     getMajorTabs()
  // }
  components: {
    Widgets,
  },
  setup(props, { root }) {
    let { $store, $router, $route } = root;
    console.log("arguments...", arguments, $store);
    getMajorTabs();
    let indexStore = computed(() => $store.state.index);
    console.log("--", indexStore);
    $store.commit("major/getMajorTabs", {});
    $store.dispatch("major/getMajorTabs", {});
    return {
      ...toRefs(indexStore),
    };
  },
};
</script>

<style>
</style>