<template>
  <div class="box">
    <header :style="{ paddingTop: systemInfo.statusBarHeight + 'px' }">
      <span>北京<u-icon name="arrow-down"></u-icon></span>
      <div>
        <icon class="icon-small" type="search" size="14"></icon>
        <span>搜索好物</span>
      </div>
    </header>
    <!-- 轮播图 -->
    <swiper autoplay>
      <swiper-item v-for="item in banners" :key="item.id">
        <img :src="item.img" alt="" mode="widthFix" />
      </swiper-item>
    </swiper>
    <!-- 导航 -->
    <div class="navList">
      <ul>
        <li
          v-for="(item, index) in navList"
          :key="item.img"
          @click="toDetail(arr[index])"
        >
          <img :src="item.img" alt="" mode="widthFix" />
          <span>{{ item.title }}</span>
        </li>
      </ul>
    </div>
    <!-- 新品推荐 -->
    <div class="newProducts">
      <p>{{ products.content }}</p>
      <scroll-view scroll-x="true">
        <ul class="shoplist">
          <li v-for="item in products.data" :key="item.id">
            <div>
              <img :src="item.thumb" alt="" />
              <div>
                <p>{{ item.title }}</p>
                <p>
                  <span>{{ item.ncon }}</span
                  ><span>{{ item.saled }}</span>
                </p>
                <p>
                  <span>￥{{ item.show_price }}</span
                  ><span>￥{{ item.oldprice }}</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </scroll-view>
    </div>
    <!-- 超值套餐 -->
    <div class="worth">
      <p>
        <span>{{ worthList.content }}</span
        ><span>更多</span>
      </p>
      <scroll-view scroll-x="true">
        <ul class="shoplist">
          <li v-for="item in worthList.data" :key="item.id">
            <div>
              <img :src="item.thumb" alt="" mode="widthFix" />
              <div>
                <p>{{ item.title }}</p>
                <p>
                  <span>{{ item.ncon }}</span
                  ><span>{{ item.saled }}</span>
                </p>
                <p>
                  <span>￥{{ item.show_price }}</span
                  ><span>￥{{ item.oldprice }}</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </scroll-view>
    </div>
    <div>
      <u-sticky offset-top="115">
        <scroll-view scroll-x="true">
          <ul class="navtab">
            <li v-for="(item, index) in navtab" :key="index">
              <span
                @click="currentTab = index"
                :class="{ active: currentTab === index }"
                >{{ item.name }}</span
              >
            </li>
          </ul>
        </scroll-view>
        <view class="dropdown">
          <u-dropdown active-color="red">
            <u-dropdown-item
              v-model="value1"
              :title="citylist.filter((item) => item.value === value1)[0].label"
              :options="citylist"
              @change="change"
              height="500"
            ></u-dropdown-item>
            <u-dropdown-item
              v-model="value2"
              :title="option2.filter((item) => item.value === value2)[0].label"
              :options="option2"
              @change="change1"
            ></u-dropdown-item>
            <u-dropdown-item
              v-model="value2"
              title="价格区间"
              :options="option2"
            ></u-dropdown-item>
          </u-dropdown>
        </view>
      </u-sticky>
      <ul class="ShopLists">
        <li v-for="item in goodsList" :key="item.id">
          <div>
            <img :src="item.data.thumb" alt="" mode="widthFix" />
            <p>
              <span>{{ item.data.title }}</span
              >|
              <!-- <span>{{
                item.data.distance.toPrecision(3) > 1
                  ? item.data.distance.toPrecision(3) > 5
                    ? ">5km"
                    : item.data.distance.toPrecision(3) + "km"
                  : item.data.distance.toPrecision(3) * 1000 + "m"
              }}</span> -->
              <span>
                {{
                  (item.data.distance * 1000).toFixed() > 1000
                    ? item.data.distance.toFixed(2)>5?'>5km':item.data.distance.toFixed(2)+'km'
                    : (item.data.distance * 1000).toFixed()+'m'
                }}
              </span>
            </p>
          </div>
          <div class="lastdiv">
            <p>{{ item.data.title }}</p>
            <div>
              <p>
                <span>￥{{ item.data.price }}</span>
                <span>￥{{ item.data.oldprice }}</span>
              </p>
              <p>已售{{ item.data.saled }}</p>
            </div>
            <span class="lastspan">{{
              item.data.sort_list[item.data.sort_list.length - 1]
            }}</span>
          </div>
        </li>
      </ul>
      <p class="lastP">{{ bool ? "已经到底了~" : "" }}</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentTab: -1,
      systemInfo: {},
      arr: ["", "", "", "", "/pages/teaSnacks/index"],
      bool: false,
      option2: [
        { label: "距离优先", value: 1 },
        { label: "人气优先", value: 2 },
        { label: "上新优先", value: 3 },
      ],
      value1: 0,
      title1: "全城",
      value2: 1, //showSort
    };
  },

  computed: {
    ...mapState({
      banners: (state) => state.major.banners,
      navList: (state) => state.major.navList,
      products: (state) => state.major.products,
      worthList: (state) => state.major.worthList,
      navtab: (state) => state.major.navtab,
      goodsList: (state) => state.major.goodsList,
      goodsQuery: (state) => state.major.goodsQuery,
      goodsCount: (state) => state.major.goodsCount,
      citylist: (state) => state.major.citylist,
    }),
  },
  watch: {
    currentTab: {
      async handler(value) {
        if (this.goodsList.length) {
          // 改变tabId
          this.update({
            goodsQuery: {
              ...this.goodsQuery,
              tabId: this.navtab[value].id,
              pageNo: 1,
            },
          });
          // 重新获取列表
          await this.getMajorGoods();
          console.log("当前选择的tab...", value);
        }
      },
      immediate: true,
    },
  },
  // 递增
  async onReachBottom() {
    console.log("reach bottom");
    // 改pageNo
    if (this.goodsCount > this.goodsQuery.pageNo * 10) {
      this.update({
        goodsQuery: { ...this.goodsQuery, pageNo: this.goodsQuery.pageNo + 1 },
      });
      // 重新获取列表
      await this.getMajorGoods();
    } else {
      this.bool = true;
    }
  },
  methods: {
    ...mapMutations({
      update: "major/update",
    }),
    ...mapActions({
      getMajorBanner: "major/getMajorBanner",
      getMajorTabs: "major/getMajorTabs",
      getMajorGoods: "major/getMajorGoods",
      MajorCityList: "major/MajorCityList",
    }),
    toDetail(url) {
      wx.navigateTo({ url: url });
    },
    async change(value) {
      console.log(value, "位置");
      this.update({
        goodsQuery: { ...this.goodsQuery, cityAreaId: value, pageNo: 1 },
      });
      // 重新获取列表
      await this.getMajorGoods();
    },
    async change1(value) {
      console.log(value, "排序");
      this.update({
        goodsQuery: {
          ...this.goodsQuery,
          showSort: value,
          pageNo: 1,
          showSortMode: value == 1 ? 1 : 2,
        },
      });
      // 重新获取列表
      await this.getMajorGoods();
    },
  },
  async created() {
    // 获取状态栏高度
    let info = wx.getSystemInfoSync();
    this.systemInfo = info;
    this.getMajorBanner();
    await this.getMajorTabs();
    this.currentTab = 0;
    this.getMajorGoods();
    this.MajorCityList();
  },
};
</script>

<style lang="scss" scoped>
.box {
  background: #f7f6f9;
}
.lastP {
  text-align: center;
  background: #fff;
  height: 140rpx;
  line-height: 140rpx;
}
header {
  width: 100%;
  height: 115rpx;
  background: #d65145;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  & > span:nth-child(1) {
    color: #fff;
    margin: 0 20rpx;
  }
  & > div {
    display: flex;
    align-items: center;
    background: #fdedec;
    border-radius: 50rpx;
    height: 60rpx;
    width: 40%;
    color: #999999;
    padding-left: 18rpx;
    & > span:last-child {
      margin-left: 15rpx;
    }
  }
}
.dropdown {
  background: #fff;
  margin-top: -2px;
}
swiper {
  height: 525rpx;
  img {
    width: 100%;
    height: 100%;
  }
}
.navList {
  position: relative;
  width: 100%;
  ul {
    width: 94%;
    margin: 0 3%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: -75rpx;
    li {
      width: 90rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 100%;
      padding: 10rpx 0;
    }
    span {
      margin-bottom: 5rpx;
      font-size: 22rpx;
    }
  }
}
.newProducts {
  margin: 71rpx 3% 0 3%;
  background: #fff;
  border-radius: 20px;
  padding: 22rpx;
  & > p {
    margin-bottom: 15rpx;
    font-size: 32rpx;
  }
}
.shoplist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  li {
    flex-shrink: 0;
    width: 245rpx;
    margin-right: 20rpx;
    border-radius: 10rpx 10px 0 0;
    overflow: hidden;
    border: 1px solid #ccc;
    div {
      img {
        width: 100%;
        height: 245rpx;
      }
      div {
        padding: 14rpx;
        & > p:nth-child(1) {
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        & > p:nth-child(2) {
          color: #b5b5b5;
          font-size: 22rpx;
          & > span:nth-child(1) {
            margin-right: 12rpx;
          }
        }
        & > p:nth-child(3) {
          & > span:nth-child(1) {
            color: red;
            font-size: 30rpx;
          }
          & > span:nth-child(2) {
            color: #b5b5b5;
            font-size: 25rpx;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
.worth {
  margin: 0 3%;
  background: #fff;
  // border-radius: 20px;
  padding: 22rpx;
  & > p {
    margin-bottom: 15rpx;
    display: flex;
    justify-content: space-between;
    font-size: 32rpx;
  }
}
.navtab {
  background: #fff;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ccc;
  li {
    flex-shrink: 0;
    text-align: center;
    margin: 10rpx 21rpx 10px 10px;
    display: flex;
    span {
      font-size: 32rpx;
      padding: 8rpx 0;
      border-bottom: 3px solid transparent;
    }
    span.active {
      color: #de5146;
      border-bottom: 3px solid #d65146;
    }
  }
}
.ShopLists {
  display: flex;
  background: #fbfbfc;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3%;
  // margin: ;
  li {
    width: 48%;
    border: 1px solid #ccc;
    flex-shrink: 0;
    border-radius: 10rpx;
    overflow: hidden;
    background: #fff;
    margin: 10rpx 0;
    & > div:nth-child(1) {
      position: relative;
      img {
        width: 100%;
      }
      & > p {
        color: #fff;
        height: 56rpx;
        line-height: 56rpx;
        background: rgba(0, 0, 0, 0.5);
        font-size: 25rpx;
        position: absolute;
        bottom: 8rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        & > span:nth-child(1) {
          display: inline-block;
          height: 56rpx;
          flex: 1;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & > span:nth-child(2) {
          display: inline-block;
          width: 90rpx;
          text-align: center;
          overflow: hidden;
        }
      }
    }

    .lastdiv {
      padding: 14rpx;
      & > p:nth-child(1) {
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      div {
        display: flex;
        justify-content: space-between;
        text-align: bottom;
        & > p:nth-child(1) {
          & > span:nth-child(1) {
            color: red;
            font-size: 30rpx;
          }
          & > span:nth-child(2) {
            color: #b5b5b5;
            font-size: 25rpx;
            text-decoration: line-through;
          }
        }
        & > p:nth-child(2) {
          color: #b5b5b5;
          font-size: 25rpx;
        }
      }
    }
    .lastspan {
      padding: 8rpx;
      color: #949ebc;
      background: #f2f6fa;
      border-radius: 4rpx;
      font-size: 25rpx;
    }
  }
}
.sortNav {
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20rpx 0;
  p.active {
    color: #de5146;
  }
}
</style>