* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

.workBox {
  &>.ant-card {
    &>.ant-card-body {
      height: auto;
    }
  }
}

.mainBox {
  width: 100% !important;
  height: 300px !important;

  &>div:first-child {
    width: 100% !important;
    height: 100% !important;

    &>canvas:first-child {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

body {
  --aside-padding-horizontal: 16px;
  --primary-color: #4299e1;
  --link-color: #4299e1;
  --border-radius: 4px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: rgba(178, 186, 194, 0.15);
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-btn-disable-bg: #f5f5f5;
  color: var(--main-text-color);
  background-color: var(--bg);
  overflow-x: hidden;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  line-height: 1.75em;
}

.st0 {
  opacity: 7e-2;
}

.st1 {
  fill: #2a94f4;
}

.st2 {
  opacity: 0.51;
}

.st3 {
  fill: #cef5ec;
}

.st4 {
  fill: #f7f7f7;
}

.st5 {
  opacity: 0.17;
  fill: #2a94f4;
}

.st6 {
  clip-path: url(#SVGID_2_);
  fill: #2a94f4;
}

.st7 {
  fill: #b97a59;
}

.st8 {
  fill: #0b4870;
}

.st9 {
  fill: #aa6b4f;
}

.st10 {
  fill: #d3d3d3;
}

[data-theme='compact'] .ant-advanced-search-form,
.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
  display: flex;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}
.ant-card{
  height: auto;
}

.ant-card-body{
  height: auto;
}
