.search {
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  background: var(--bg);
  overflow: auto;
  transform: translateY(-65px);
  transition: all 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  &>span:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-text-color);
  }

  &>span:nth-child(2) {
    display: flex;
    flex-direction: column;
    color: var(--disable-text-color);
    cursor: pointer;

    &>span:nth-child(1) {
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.content{
  width: 1140px;
  margin: 0 auto;
}

.ul {
  a {
    li {
      color: var(--second-text-color);
      height: 48px;
      line-height: 48px;
      width: 100%;
      height: 100%;
      padding: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: var(--bg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .header{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
  .header{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {}
