#exterior{
  width: 100%;
  height: 100%;
}
#components-layout-demo-custom-trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  // height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.trigger {
  padding: 16px;
}

.triggers {
  padding: 16px;
  background: #fff;
}

.topuser {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  span {
    font-size: 1.2rem;
  }
}

.newbtn {
  padding: 0 16px;
  margin: 12px 0;

  Button {
    width: 100%;
  }
}

.lay_header {
  border-top: 1px solid var(--border-color);
  border-bottom:1px solid var(--border-color);
  padding: 12px 24px;
  background: #fff;
  div {
    h1 {
      margin-bottom: .5em;
      color: #333;
      font-weight: 600;
      font-size: 38px;
      line-height: 1.23;
    }
  }
}
.ant-layout-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar_span{
  margin-left: 8px;
}
.layputicon{
  color: #1890ff;
  svg{
    fill: #1890ff;
  }
}
