@import './less/markdown.less';

* {
  user-select: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out,
    opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #fff;
    background: #666;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
}

body {
  --primary-color: #ff0064;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 2px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #f0f2f7;
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-disable-bg: #f5f5f5;
}

body.dark {
  --sun-color: #e684af;
  --bg: #282c35;
  --bg-second: #363c48;
  --rgb-bg-second: 54, 60, 72;
  --bg-body: var(--bg);
  --bg-footer: var(--bg);
  --bg-code: rgba(115, 124, 153, 0.2);
  --blockquote-color: #fff;
  --main-text-color: hsla(0, 0%, 100%, 0.85);
  --second-text-color: hsla(0, 0%, 100%, 0.65);
  --disable-text-color: hsla(0, 0%, 100%, 0.45);
  --border-color: hsla(0, 0%, 100%, 0.2);
  --box-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color);
}

#root {
  width: 100vw;
  height: 100%;
}

#nprogress div.bar {
  background: red;
}

:global{
  .loading{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0,0,0,.4);
}
}
