#about {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}
.title {
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.06em;
}
.container{
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  .box{
    width: 100%;
    max-width: 768px;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    .img{
      display: inline-block;
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
    .text{
      max-width: 800px;
      padding: 0 8px 21px;
      margin: 0 auto;

    }
  }

  
}
.tjyd{
  text-align: center;
  margin-top: 30px;
}
