.backtop {
  height: 40px;
  width: 40px;
  z-index: 99999;
  line-Height: 40px;
  border-Radius: 50%;
  background-Color: rgba(0, 0, 0, .5);
  color: #fff;
  text-align: center;
  font-size: 14px;
}

;
