.copy-btn {
  position: absolute;
  right: 7px;
  top: 3px;
  border: none;
  font-size: 12px;
  color: hsla(0, 0%, 54.9%, 0.8);
  background: transparent;
  cursor: pointer;
}
.markdown {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  letter-spacing: 1.2px;
  color: var(--main-text-color);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: inherit;
}

.markdown h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.markdown h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}

.markdown h3 {
  font-size: 18px;
  padding-bottom: 0;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 15px;
}

.markdown h6 {
  margin-top: 5px;
}

.markdown p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}

.markdown img {
  max-width: 100%;
}

.markdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 32px;
  margin-bottom: 32px;
}

.markdown a {
  text-decoration: none;
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
}

.markdown a:active,
.markdown a:hover {
  color: #275b8c;
}

.markdown blockquote {
  background-color: #f8f8f8;
}

.markdown blockquote:after {
  display: block;
  content: '';
}

.markdown blockquote > p {
  margin: 10px 0;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ul ul {
  list-style-type: square;
}

.markdown ol,
.markdown ul {
  padding-left: 28px;
}

.markdown ol li,
.markdown ul li {
  margin-bottom: 0;
  list-style: inherit;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 3px;
}

.markdown ol li {
  padding-left: 6px;
}

.markdown .task-list-item {
  list-style: none;
  min-height: 22px;
  padding-left: 24px;
  border: 0;
  margin-left: -24px;
}

.markdown .task-list-item > input:before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
  border-collapse: separate;
}

.markdown .task-list-item > input:checked:before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.markdown .task-list-item > input:after {
  content: ' ';
  position: absolute;
  left: 6.571429px;
  top: 6.142857px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transform: rotate(45deg) scale(0);
  opacity: 0;
}

.markdown .task-list-item > input:checked:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.markdown code,
.markdown pre {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

.markdown code {
  display: inline;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: var(--main-text-color);
  background-color: rgba(27, 31, 35, 0.05);
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}

.markdown pre {
  position: relative;
  max-height: 400px;
  padding-top: 30px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: var(--bg-code);
  font-size: 1em;
}

.markdown pre:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-image: url(https://wipi.oss-cn-shanghai.aliyuncs.com/2020-07-12/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
  background-position: 10px 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  content: '';
}

.markdown pre:before,
.markdown pre code {
  display: block;
  background-color: var(--bg-code);
}

.markdown pre code {
  max-height: 370px;
  padding: 9px 10px 12px;
  border-radius: 0;
  color: var(--main-text-color);
  overflow: auto;
  overscroll-behavior: contain;
  font-size: 12px;
  margin: 0;
  white-space: pre-wrap;
}

pre {
  overflow: hidden;
}
