.article_table {
  margin-top: 16px;
  padding: 26px 12px;
  background: #fff !important;

  &>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}
.article_row .ant-col-8 {
  display: block;
  flex: 0 0 25%;
  min-width: 19%;
  max-width: 25%;
}
