#div {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    height: 64px;
  }

  section {
    flex-grow: 1;
  }
}
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.4);
}


.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .4);
}
