<template>
  <div id="tea_snacks">
    <div class="topnav">
      <scroll-view scroll-x="true" :scroll-into-view="toView">
        <ul class="classify" v-if="shotClassify.length">
          <li
            :id="`item${item.id}`"
            @click="changeCurrentInd(item.id)"
            :class="currentInd == item.id ? 'action' : ''"
            v-for="item in shotClassify"
            :key="item.id"
          >
            {{ item.name }}
          </li>
        </ul>
      </scroll-view>
    </div>
    <ul class="choice">
      <li @click="changeShowBox(1)">
        {{ sname }}
        <ul v-if="showBox.substr(0, 1) === '1' && isShowBox">
          <li
            v-for="item in selectShotClassify"
            :key="item.id"
            @click="acquireOption(item)"
          >
            <span>{{ item.name }}</span>
            <span v-if="selectOptions === item.id">√</span>
          </li>
        </ul>
      </li>
      <li @click="changeShowBox(2)">
        离我最近
        <ul v-if="showBox.substr(0, 1) === '2' && isShowBox">
          <li>我是你的爹你是我的儿2</li>
        </ul>
      </li>
      <li @click="changeShowBox(3)">
        全部分类
        <ul v-if="showBox.substr(0, 1) === '3' && isShowBox">
          <li>我是你的爹你是我的儿3</li>
        </ul>
      </li>
      <li @click="changeShowBox(4)">
        浏览模式
        <ul v-if="showBox.substr(0, 1) === '4' && isShowBox">
          <li>我是你的爹你是我的儿4</li>
        </ul>
      </li>
    </ul>
    <ul class="shopList">
      <li v-for="item in teaSnacksShopList" :key="item.id" mode="widthFix">
        <div>
          <div class="img">
            <img :src="item.thumbh" alt="" />
          </div>
          <div class="title">{{ item.title }}</div>
          <div class="price">
            <span
              ><span class="pricep"
                >￥<span class="max">{{ item.pricep }}</span
                >.{{ item.priced }}</span
              ><span class="strikethrough">￥{{ item.oldprice }}</span></span
            >
            <span class="saled">已售{{ item.saled }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      currentInd: "",
      toView: "",
      showBox: "-1",
      isShowBox: false,
      selectOptions: "-1",
      scopeList: [
        {
          id: "0",
          type: "距离最近",
          sign: "5767234e858b242a8dc86db96c34bcd8",
        },
        {
          id: "1",
          type: "销量最高",
          sign: "394da877a3b7ced8c08c018deca11c3f",
        },
        {
          id: "2",
          type: "价格最低",
          sign: "a152cfb92c719c470f09bde5553eff0b",
        },
      ],
      allType: {
        default: "全部类型",
        types: [
          {
            id: "",
            type: "全部",
          },
          {
            id: "",
            type: "普通",
          },
          {
            id: "",
            type: "限抢",
          },
          {
            id: "",
            type: "拼单",
          },
          {
            id: "",
            type: "减价",
          },
          {
            id: "",
            type: "报名",
          },
          {
            id: "",
            type: "抽奖",
          },
          {
            id: "",
            type: "秒杀",
          },
        ],
      },
    };
  },
  computed: {
    ...mapState({
      teaSnacksShopList: (state) => state.teaSnacks.teaSnacksShopList,
      shotClassify: (state) => state.teaSnacks.shotClassify,
      sname: (state) => state.teaSnacks.sname,
    }),
    selectShotClassify() {
      let item = this.shotClassify.find((item) => item.id == this.currentInd);
      console.log(item, this.currentInd);
      if (item) {
        if (item.name === "全部") {
          let arr = this.shotClassify.map((item) => {
            return item.down ? item.down : [];
          });
          return arr.flat(1);
        } else {
          return item.down;
        }
      }
    },
  },
  watch: {
    shotClassify(newSname, oldSname) {
      this.currentInd = newSname[0].id;
      this.toView = `item${newSname[0].id}`;
    },
    showBox(newSname, oldSname) {
      if (newSname.substr(0, 1) === oldSname.substr(0, 1)) {
        this.isShowBox = !this.isShowBox;
      } else {
        this.isShowBox = true;
      }
    },
  },
  methods: {
    ...mapActions({
      getTeaSnacksClassifyList: "teaSnacks/getTeaSnacksClassifyList",
      getTeaSnacksShopList: "teaSnacks/getTeaSnacksShopList",
    }),
    ...mapMutations({
      upData: "teaSnacks/upData",
    }),
    changeCurrentInd(id) {
      this.currentInd = id;
      this.upData({ sname: "商品分类" });
      this.toView = `item${id}`;
    },
    changeShowBox(num) {
      let time = new Date().getTime();
      this.showBox = `${num}${time}`;
    },
    acquireOption(item) {
      this.selectOptions = item.id;
      this.upData({ sname: item.name });
    },
  },
  created() {
    //暂时没有用
    this.getTeaSnacksClassifyList();
    //包含商品信息
    this.getTeaSnacksShopList();
  },
  mounted() {
    console.log(this.shotClassify);
  },
};
</script>
<style lang="scss" scoped>
#tea_snacks {
  width: 100%;

  .shopList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3%;
    li {
      width: 48%;
      .img {
        width: 100%;
        img {
          width: 100%;
          height: 268rpx;
          border-radius: 12rpx;
        }
      }
      .title {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
.price {
  display: flex;
  justify-content: space-between;
  .strikethrough {
    text-decoration: line-through;
    color: #b4b4b4;
    font-size: 20rpx;
    vertical-align: super;
    margin-left: 4rpx;
  }
  .saled {
    font-size: 20rpx;
    line-height: 55rpx;
    color: #b4b4b4;
  }
  .pricep {
    color: #fb2d37;
    .max {
      font-size: 40rpx;
    }
  }
}
.classify {
  height: 100rpx;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  li {
    padding: 0 30rpx;
    line-height: 100rpx;
    flex-shrink: 0;
    &.action {
      font-weight: bold;
    }
  }
}
.topnav {
  width: 100%;
  background-color: #e8443d;
}
.choice {
  height: 100rpx;
  display: flex;
  line-height: 100rpx;
  justify-content: space-around;
  position: relative;

  li {
    ul {
      position: absolute;
      left: 0;
      top: 100rpx;
      width: 94vw;
      height: 482rpx;
      background-color: #fff;
      overflow: scroll;
      margin: 0 3%;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
</style>



GET /msh/app/index.php?i=5&t=0&v=1.0.1&from=wxapp&c=entry&a=wxapp&do=sort&m=zofui_sales&sign=5767234e858b242a8dc86db96c34bcd8&op=list&page=1&sortid=0&sorttwo=0&otype=0&gtype=5&tag=18&shopsort=0&shopid=0&isinit=1&lat=39.95933&lng=116.29845&cityId=19&mwtoken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt8WY-B93RlSaGCj8EO6Yt32bpQuiTGZSGJCejzpMgHY-B0KqYhctGoTnU3mv5Cl2B8CqBXnd6sWacpuedcl2Ppj4DxRHCUQY-Bsf18mJ615tGY-BDXPGvr2RxxRiI8eJlK2WoekMHrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z HTTP/1.1
GET /msh/app/index.php?i=5&t=0&v=1.0.1&from=wxapp&c=entry&a=wxapp&do=sort&m=zofui_sales&sign=394da877a3b7ced8c08c018deca11c3f&op=list&page=1&sortid=0&sorttwo=0&otype=2&gtype=5&tag=18&shopsort=0&shopid=0&isinit=1&lat=39.95933&lng=116.29845&cityId=19&mwtoken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt8WY-B93RlSaGCj8EO6Yt32bpQuiTGZSGJCejzpMgHY-B0KqYhctGoTnU3mv5Cl2B8CqBXnd6sWacpuedcl2Ppj4DxRHCUQY-Bsf18mJ615tGY-BDXPGvr2RxxRiI8eJlK2WoekMHrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z HTTP/1.1
GET /msh/app/index.php?i=5&t=0&v=1.0.1&from=wxapp&c=entry&a=wxapp&do=sort&m=zofui_sales&sign=a152cfb92c719c470f09bde5553eff0b&op=list&page=1&sortid=0&sorttwo=0&otype=1&gtype=5&tag=18&shopsort=0&shopid=0&isinit=1&lat=39.95933&lng=116.29845&cityId=19&mwtoken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt8WY-B93RlSaGCj8EO6Yt32bpQuiTGZSGJCejzpMgHY-B0KqYhctGoTnU3mv5Cl2B8CqBXnd6sWacpuedcl2Ppj4DxRHCUQY-Bsf18mJ615tGY-BDXPGvr2RxxRiI8eJlK2WoekMHrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z HTTP/1.1