.MsgBoard {
  width: 100%;
  background: var(--bg-body);
}

.container {
  width: 100%;
  background: var(--bg);
}

.container_cen {
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--main-text-color);

  h2 {
    text-align: center;
    color: var(--main-text-color);
  }

  p {
    text-align: center;
    padding-bottom: 15px;
    color: var(--main-text-color);
  }
}

.cenBox {
  width: 100%;
  margin-top: 10px;

  .topBox {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;

    .commentBox {
      color: var(--main-text-color);
      text-align: center;
    }

    p {
      text-align: left;
    }
  }

  ._3ZUDOCREZiU7HtQwpEsqZZ {
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;

    ._1hXJ8FkJwAyuM2 {
      margin-bottom: 30px;
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.06em;
    }

    .ammbB8tpRTlzwGu9Q8GNE {
      background-color: var(--bg);
    }
  }
}

@media screen and (max-width: 768px) {
  .cenBox {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;

    .topBox {
      width: 100%;
    }

    ._3ZUDOCREZiU7HtQwpEsqZZ {
      width: 100%;
    }
  }
}
