<template>
  <div class="search">
    <div class="searchInp">
      <u-search
        placeholder="呷哺呷哺"
        v-model="value"
        border-color="#ccc"
        @input="changeInput"
        @custom="searchBank"
      ></u-search>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: "",
    };
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.searchInp {
  padding: 20rpx;
}
</style>