.markdown blockquote {
  padding: 1px 23px;
  border-left: 4px solid #cbcbcb;
  border: 1px solid var(--border-color);
  border-left: 4px solid var(--disable-text-color);
  margin: 22px 0;
  color: #666;
  background-color: var(--bg-second);
}

.markdown strong {
  font-weight: 700;
}

.markdown strong:before {
  content: '\300C';
}

.markdown strong:after {
  content: '\300D';
}

.markdown p em {
  font-weight: 400;
}

.markdown em {
  font-style: normal;
}

.markdown em,
.markdown em strong {
  color: var(--main-text-color);
}

.markdown img {
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  margin: 20px auto;
  object-fit: contain;
}

.markdown table {
  display: inline-block;
  font-size: 13px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

.markdown table thead,
.markdown table tr:nth-child(2n) {
  background-color: var(--bg-code);
}

.markdown table td,
.markdown table th {
  padding: 4px 8px;
  line-height: 24px;
}

.markdown code.language-ts:before {
  content: 'ts';
}

.markdown code.language-js:before,
.markdown code.language-ts:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-js:before {
  content: 'js';
}

.markdown code.language-typescript:before {
  content: 'typescript';
}

.markdown code.language-javascript:before,
.markdown code.language-typescript:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-javascript:before {
  content: 'javascript';
}

.markdown code.language-html:before {
  content: 'html';
}

.markdown code.language-css:before,
.markdown code.language-html:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-css:before {
  content: 'css';
}

.markdown code.language-php:before {
  content: 'php';
}

.markdown code.language-go:before,
.markdown code.language-php:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-go:before {
  content: 'go';
}

.markdown code.language-sql:before {
  content: 'sql';
}

.markdown code.language-json:before,
.markdown code.language-sql:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-json:before {
  content: 'json';
}

.markdown code.language-bash:before {
  content: 'bash';
}

.markdown code.language-bash:before,
.markdown code.language-less:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-less:before {
  content: 'less';
}

.markdown code.language-scss:before {
  content: 'scss';
}

.markdown code.language-nginx:before,
.markdown code.language-scss:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-nginx:before {
  content: 'nginx';
}

.markdown code.language-shell:before {
  content: 'shell';
}

.markdown code.language-shell:before,
.markdown code.language-stylus:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-stylus:before {
  content: 'stylus';
}

.markdown code.language-python:before {
  content: 'python';
}

.markdown code.language-python:before,
.markdown code.language-yaml:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-yaml:before {
  content: 'yaml';
}

.markdown code.language-yml:before {
  content: 'yml';
}

.markdown code.language-lua:before,
.markdown code.language-yml:before {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0, 0%, 54.9%, 0.8);
  transition: color 0.1s;
}

.markdown code.language-lua:before {
  content: 'lua';
}
