<template>
    <div class="coupon_detail">
        <div class="top">
            <ul class="coupon_ul">
                <li>
                    {{couponDetailList.name}}
                </li>
                <li>
                    <span class="coupon_span">美生活</span><span class="coupon_span_item">满减劵</span>
                </li>
                <li>
                   <span class="coupon_btn">
                       去使用
                       </span>  
                </li>
                <li>
                    有效期:&nbsp;{{couponDetailList.fetchTimeStart}}至{{couponDetailList.fetchTimeEnd}}
                </li>
                <li>
                    优惠内容&nbsp;<span class="coupon_content">满{{couponDetailList.useLimitOrderAmount}}元减{{couponDetailList.preferentialReduceAmount}}元</span>
                </li>
                <li>
                    <span>使用说明</span><span class="coupon_gt">&gt;</span>
                </li>
            </ul>
            </div> 
            <div class="bottom">

            </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      couponDetailList: (state) => state.user.couponDetailList,
    }),
  },
    // components: { ComponentName },
    data() {
        return {
            
        };
    },

    mounted() {
    
    },

    methods: {
         ...mapActions({
      getCouponDetail: "user/getCouponDetail",
    }),
    },
     created() {
    this.getCouponDetail();
  },
};
</script>

<style lang="scss" scoped>
.coupon_detail{
    width: 100%;
    height: 100%;
}
.top{
    width: 100%;
    height: 400rpx;
     background-image: linear-gradient(#E8443D, #fff);
     position: relative;
}
.coupon_ul{
    width: 90%;
    height: 615rpx;
    box-shadow: 4rpx 9rpx 10rpx #ccc;
    background: #fff;
    position: absolute;
    left: 5%;
    top: 2%;
    border-radius: 20rpx;
    li{
        &:nth-child(1){
            width: 100%;
            height: 100rpx;
            margin-top: 20rpx;
            font-size: 46rpx;
            font-weight: bold;
            text-align: center;
            line-height: 100rpx;
        }
        &:nth-child(2){
            width: 100%;
            height: 50rpx;
            display: flex;
            justify-content: center;
            align-content: center;

        }
        &:nth-child(3){
            margin-top: 20rpx;
          width: 100%;
          height: 120rpx;
          text-align: center;
          line-height: 120rpx;
        }
        &:nth-child(4){
            width: 100%;
            height: 40rpx;
            border-bottom: 1px #ccc dashed;
            text-align: center;
            line-height: 40rpx;
            font-size: 22rpx;
            color: #666666;
            padding-bottom: 36rpx;
        }
        &:nth-child(5){
            width: 90%;
            height: 100rpx;
            line-height: 100rpx;
            text-align: center;
            font-size: 30rpx;
            border-bottom: 1px solid #eee;
            margin-left: 5%;
        }
        &:nth-child(6){
            width: 90%;
            height: 110rpx;
            margin-left: 5%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            line-height: 110rpx;
        }
    }
}
.coupon_span{
    width: 80rpx;
    height: 40rpx;
    background: #fbe0e0;
    color: #fff;
    text-align: center;
    line-height: 40rpx;
    font-size: 20rpx;
    margin-right: 10rpx;
}
.coupon_span_item{
     width: 80rpx;
    height: 40rpx;
     text-align: center;
    line-height: 40rpx;
    background: #ff9877;
    color: #fff;
    font-size: 20rpx;
}
.coupon_btn{
    display: inline-block;
    width: 300rpx;
    height: 90rpx;
    background: #fdeeed;
    color: #e84540;
    text-align: center;
    line-height: 90rpx;
    font-size: 36rpx;
    border-radius: 50rpx;
}
.coupon_content{
    color: #666666;
    font-size: 28rpx;
    margin-left: 10rpx;
}
.coupon_gt{
    color: #cdcdcd;
    font-size: 36rpx;
}
.bottom{
    width: 100%;
}
</style>