<template>
 <div class="coupons">
    <div class="couponsTabtop">
      <span
        v-for="(item, index) in list"
        :key="index"
        :class="ind === index ? 'active' : ''"
        @click="handelIndex(index)"
      >
        {{ item }}({{
          couponList.codeList.length > 0 && ind == index
            ? couponList.codeList.length
            : 0
        }})
      </span>
    </div>
    <div v-if="couponList.codeList.length">
      <div
      @click="handleToDetail"
        v-for="item in couponList.codeList"
        :key="item.id"
        class="use_coupons"
      >
        <div class="left">
          <p>
            ￥ <span>{{ item.preferentialReduceAmount }}</span>
          </p>
          <p>满{{ item.useLimitOrderAmount }}元可用</p>
        </div>
        <div class="rigth">
          <div>
            <h2>{{ item.name }}</h2>

            <p class="time">
              {{ new Date(item.useTimeLimitStart).toLocaleDateString() }}至{{
                new Date(item.useTimeLimitEnd).toLocaleDateString()
              }}
            </p>
            <p class="yuan">满减卷</p>
          </div>
          <div>
            <span class="rigth_use" @click="jumpcouponsdetail"> 去使用</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="pocketBottom">
      <p>
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
      </p>
      <p>暂无已使用的优惠券</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  // components: { ComponentName },
  computed: {
    ...mapState({
      couponList: (state) => state.user.couponList,
    }),
  },
  data() {
    return {
      list: ["未使用", "已使用", "已失效"],
      ind:0
    };
  },
  mounted() {
   
  },
  methods: {
    ...mapActions({
      getCoupon: "user/getCoupon",
    }),
    handelIndex(index){
       this.ind=index;
       this.getCoupon(this.ind);
    },
    handleToDetail(){
       wx.navigateTo({url:'/pages/couponDetailTwo/index'});
    }
  },
  created() {
    this.getCoupon(this.ind);
  },
};
</script>

<style lang="scss" scoped>
.coupons {
  padding: 0 50rpx;
  box-sizing: border-box;
}
.couponsTabtop {
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    display: block;
    height: 100%;
    line-height: 80rpx;
    text-align: center;
  }
  .active {
    color: red;
    border-bottom: 1px solid red;
  }
}
.pocketBottom {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A3A3A3;
  img{
    width: 400rpx;
  }
}
.use_coupons {
  display: flex;
  margin-top: 20rpx;

  box-shadow: #eee 0px 0px 1px 1px;
  .left {
    width: 40%;
    height: 150rpx;
    overflow: hidden;
    background: #ff9e6b;
    color: #fff;
    padding-top: 30rpx;
    p {
      text-align: center;
      font-size: 25rpx;
      span {
        font-size: 50rpx;
      }
    }
  }
  .rigth {
    width: 70%;
    padding: 30rpx 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .time {
      font-size: 20rpx;
      margin: 10rpx 0;
    }
    .yuan {
      display: block;
      width: 60rpx;
      height: 40rpx;
      line-height: 40rpx;
      text-align: center;
      color: #fff;
      font-size: 15rpx;
      background: #ff9e6b;
    }
    .rigth_use {
      background: #fdeeed;
      border-radius: 20rpx;
      width: 100rpx;
      height: 45rpx;
      line-height: 45rpx;
      text-align: center;
      color: #ed706b;
      display: block;
      font-size: 25rpx;
    }
  }
}
</style>
