.container {
  width: 100%;
  background: var(--bg-body);

  .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    .left {
      flex: 1;
      width: calc(100% - 20rem - 1rem);
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);

      .leftTop {
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--bg-second);
        text-align: center;

        p {
          &:nth-child(1) {
            margin-top: 0.5rem;
            margin-bottom: 0;

            span {
              color: var(--primary-color);
              font-size: 1.5rem;
            }
          }

          &:nth-child(2) {
            margin-bottom: 0;
            color: var(--main-text-color);

            span {
              color: var(--primary-color);
              font-size: 1.1rem;
            }
          }
        }
      }

      .leftBottom {
        padding: 1rem 1.3rem;

        h2 {
          color: var(--main-text-color);
          font-size: 1.5rem;
        }

        .leftContent {
          &:nth-child(1) {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            margin-top: 0;
          }

          margin-top: 0.75rem;

          h3 {
            color: var(--second-text-color);
          }

          ul {
            padding-left: 2.5rem;

            li {
              position: relative;
              padding: 0.5rem 0;
              opacity: 1;
              height: 48px;
              transform: none;
              display: list-item;
              text-align: -webkit-match-parent;

              &:before {
                position: absolute;
                top: 17px;
                left: -1rem;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: -4px;
                background: var(--disable-text-color);
                content: ' ';
              }

              &:hover {
                color: var(--primary-color);

                a {
                  color: var(--primary-color);

                  span {
                    &:nth-child(1) {
                      color: var(--primary-color);
                    }

                    &:nth-child(2) {
                      color: var(--primary-color);
                    }
                  }
                }
              }

              &:hover:before {
                background: var(--primary-color);
              }

              a {
                display: inline-block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;

                span {
                  &:nth-child(1) {
                    padding-right: 1em;
                    margin: 0;
                    color: var(--second-text-color);
                    font-size: 0.8rem;
                  }

                  &:nth-child(2) {
                    color: var(--main-text-color);
                    overflow: hidden;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1.4;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }

    .right {
      width: 20rem;
      margin-left: 1rem;
      padding-bottom: 1rem;

      .sticky {
        position: sticky;
        top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .box {
      width: 100%;
      padding:0 1rem 1rem 1rem;

      .right {
        display: none;
      }
    }
  }

}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    .box {
      width: 100%;
      padding:0 1rem 1rem 1rem;

      .right {
        display: none;
      }
    }
  }
}

/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    .box {
      width: 992px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    .box {
      width: 1140px;
    }
  }
}
