#_index {
  width: 100%;
  padding: 1rem;
  display: flex;

  .content {
    width: 1140px;
    display: flex;
    margin: 0 auto;

    .contentLeft {
      flex-grow: 1;
      height: auto;
      background-color: var(--bg-second);
      width: calc(31.1vw - 20rem - 1rem);

      .banner {
        width: 97%;
        background-color: #000;
        margin: 10px;
      }
    }

    .contentRight {
      width: 320px;
      height: 80px;
      margin-left: 15px;
      background-color: var(--bg-second);
      flex-shrink: 0;

      .sticky {
        position: sticky;
        top: 1rem;
        margin-bottom: 1rem;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .contentRight {
    display: none;
  }
}

