.knowledge {
  width: 1140px;
  margin: 0px auto;
  display: flex;

  .knowledge_left {
    flex: 1;
    margin: 1rem 1rem 1rem 0px;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    .XifRPckEIhR:hover {
      .knowledge_header {
        span:nth-child(1) {
          color: var(--primary-color);
        }
      }
    }

    .XifRPckEIhR {
      width: 100%;
      height: 140px;
      margin: 1rem 0;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      .knowledge_header {
        span {
          &:nth-child(1) {
            color: var(--main-text-color);
            overflow: hidden;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 1rem;
          }

          &:nth-child(2) {
            color: #8590a6;
            font-size: 14px;
          }
        }
      }

      .knowledge_main {
        display: flex;

        .knowledge_pic {
          width: 190px;
          height: 100px;
          overflow: hidden;
          border-radius: 3px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .knowledge_content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            &:nth-child(1) {
              display: -webkit-box;
              max-width: 100%;
              color: var(--main-text-color);
              overflow: hidden;
              font-size: 14px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            &:nth-child(2) {
              color: #8590a6;
              font-size: 14px;
            }

            span {
              display: flex;
              position: relative;
              margin: 0 1.2rem;
              color: var(--second-text-color);

              i {
                position: absolute;
                left: -18px;
                top: 2px;
              }
            }
          }
        }
      }
    }

    .hr_border {
      margin: 0 2rem;

      .hr {
        background-color: var(--border-color);
        height: 1px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .knowledge_right {
    margin: 1rem 0;
    width: 320px;

    .sticky {
      position: sticky;
      top: 1rem;
      margin-bottom: 1rem;
    }
  }
}






/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .knowledge {
    width: 100%;
    padding: 0 1rem 1rem 1rem;

    .knowledge_left {
      flex: 1;
    }

    .righknowledge_rightt {
      display: none;
    }
  }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .knowledge {
    width: 770px;

    .knowledge_left {
      width: 432px;
    }
  }

}

/*小屏幕*/
@media screen and (min-width: 658px) and (max-width: 768px) {
  .knowledge {
    width: 100%;
    margin-left: 1rem;
    padding-right: 1rem;

    .knowledge_left {
      width: 100%;
    }

    .knowledge_left {
      flex: 1;
    }

    .knowledge_right {
      display: none;
    }
  }
}

@media screen and (max-width: 658px) {
  .knowledge {
    width: 100%;

    .knowledge_left {
      margin: 0 auto;

      .hr_border {
        margin: 0;
      }

      .XifRPckEIhR {
        height: 100%;
        width: 100%;
        padding: 1rem;

        .knowledge_header {
          margin: .5rem 0;
        }

        .knowledge_main {
          display: flex;
          flex-direction: column;

          p {
            &:nth-child(2) {
              margin: .5rem 0;
            }
          }

          .knowledge_pic {
            width: 100%;
            height: 100%;
            margin-bottom: .5rem;

            img {
              width: 100%;
            }
          }

        }
      }
    }

    .knowledge_right {
      display: none;
    }

  }
}
