.news_box {
  width: 100%;
  height: auto;
  padding: 1rem;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  .item {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 32px;

    .arrange {
      display: flex;
      line-height: 44.3px;

      span {
        color: #8590a6;
      }
    }
    h2{
      color:var(--main-text-color);
    }
    &:hover {
      h2 {
        color: var(--primary-color);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1rem;
      width: 100%;
      height: 1px;
      background: var(--border-color);
    }

    main {
      width: 100%;
      display: flex;

      .cover {
        width: 190px;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100px;
        }
      }

      .detail {
        width: 100%;
        color: var(--main-text-color);
        div {
          width: 100%;
          height: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          box-orient: vertical;
        }

        p {
          width: 100%;
          height: 20px;
          margin-bottom: 0;
          line-height: 20px;

          .dot {
            padding: 0 10px;
          }
        }
      }
    }
  }
}
