.header{
    height: 60px;
    padding: 0 24px;
    border-bottom: 1px solid rgb(235, 237, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Input{
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 16px;
}
.editor{
    height:calc(100vh - 60px);
    iframe{
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
    }
}