.tag {
  width: 320px;
  height: 185px;
  background: var(--bg-second);
  margin-top: 1rem;
  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }
  ul {
    padding: 1rem;
    li {
      display: inline-block;
      padding: 2px 7px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      margin: 0 7px 7px 0;
      color: var(--second-text-color);
      line-height: 1.5em;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #ff0064;
        border: 1px solid #ff0064;
      }
    }
  }
}
