.container {
  width: 1140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  .left {
    flex: 1;
    width: calc(100% - 21rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .box {
      padding: 1rem;
      background: var(--bg-second);
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);

      div> {
        img {
          width: 100%;
        }
      }

      .top {
        text-align: center;

        h1 {
          margin: 0.67em 0 0;
          color: inherit;
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 1rem;
          line-height: 1.5;
          text-align: center;
          color: var(--main-text-color);
        }

        p {
          margin-bottom: 1.2em;
          color: inherit;
          font-style: italic;
          text-align: center;
          color: var(--main-text-color);
        }
      }

      ._1F8nZG_3e_sxtkzObh163H {
        padding: 21px 0;
        margin-top: 30px;
        line-height: 28px;
        color: var(--second-text-color);
        border-top: 1px dashed var(--border-color);

        ._2qMEw2QUMeyQzgM1G1J4P {
          color: #655e5e;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 21px;
        }
      }
    }

    .cenBox {
      p {
        margin: 1rem 0;
        color: var(--main-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.06em;
      }
    }
  }

  .right {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .sticky {
      position: sticky;
      top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/*小屏幕*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    .right {
      display: none;
    }
  }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 768px;
  }

}

/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 992px;

  }

}

/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }

}
