.push {
  width: 320px;
  background: var(--bg-second);
  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }
  ul {
    padding: 0 1rem 1rem;
    li {
      line-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      a {
        // color: #000;
        color: var(--second-text-color);
      }
      & > a:hover {
        color: #ff0064;
      }
    }
  }
}
